In [1]:
# import the library
import pandas as pd

In [2]:
# load the dataset
df = pd.read_csv('IthacaDailyClimate2018.csv')

In [3]:
# an expression to extract a new dataframe containing those days 
# where the temperature reached at least 70 degrees
at_least_70 = df[df['Maximum Temperature']>=70]

# expression that computes how many days reached at least 70 degrees
num_at_least_70 = len(at_least_70)

In [4]:
at_least_70

,Date,Maximum Temperature,Minimum Temperature,Average Temperature,Precipitation,Snowfall,Snow Depth
121,05-02-2018,78,34,56.0,0.00,0.0,0
122,05-03-2018,85,55,70.0,0.00,0.0,0
123,05-04-2018,80,60,70.0,0.07,0.0,0
124,05-05-2018,81,38,59.5,0.19,0.0,0
125,05-06-2018,74,43,58.5,0.00,0.0,0
...,...,...,...,...,...,...,...
279,10-07-2018,71,59,65.0,0.38,0.0,0
281,10-09-2018,77,55,66.0,0.00,0.0,0
282,10-10-2018,80,62,71.0,0.00,0.0,0
283,10-11-2018,78,61,69.5,0.23,0.0,0
284,10-12-2018,73,45,59.0,0.50,0.0,0

In [5]:
num_at_least_70

130