In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('Rate.csv') #https://www.kaggle.com/hhs/health-insurance-marketplace?select=Rate.csv

In [6]:
df.head(10)

,BusinessYear,StateCode,IssuerId,SourceName,VersionNum,ImportDate,IssuerId2,FederalTIN,RateEffectiveDate,RateExpirationDate,...,IndividualRate,IndividualTobaccoRate,Couple,PrimarySubscriberAndOneDependent,PrimarySubscriberAndTwoDependents,PrimarySubscriberAndThreeOrMoreDependents,CoupleAndOneDependent,CoupleAndTwoDependents,CoupleAndThreeOrMoreDependents,RowNumber
0,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,29.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14
1,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,36.95,NaN,73.9,107.61,107.61,107.61,144.56,144.56,144.56,14
2,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,36.95,NaN,73.9,107.61,107.61,107.61,144.56,144.56,144.56,15
3,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,32.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15
4,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,32.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16
5,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,36.95,NaN,73.9,107.61,107.61,107.61,144.56,144.56,144.56,16
6,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,32.45,NaN,64.9,94.50,94.50,94.50,126.95,126.95,126.95,17
7,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,32.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
8,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,32.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18
9,2014,AK,21989,HIOS,6,2014-03-19 07:06:49,21989,93-0438772,2014-01-01,2014-12-31,...,32.45,NaN,64.9,94.50,94.50,94.50,126.95,126.95,126.95,18

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12694445 entries, 0 to 12694444
Data columns (total 24 columns):
 #   Column                                     Dtype
---  ------                                     -----
 0   BusinessYear                               int64
 1   StateCode                                  object
 2   IssuerId                                   int64
 3   SourceName                                 object
 4   VersionNum                                 int64
 5   ImportDate                                 object
 6   IssuerId2                                  int64
 7   FederalTIN                                 object
 8   RateEffectiveDate                          object
 9   RateExpirationDate                         object
 10  PlanId                                     object
 11  RatingAreaId                               object
 12  Tobacco                                    object
 13  Age                                        object
 14  IndividualRate                             float64
 15  IndividualTobaccoRate                      float64
 16  Couple                                     float64
 17  PrimarySubscriberAndOneDependent           float64
 18  PrimarySubscriberAndTwoDependents          float64
 19  PrimarySubscriberAndThreeOrMoreDependents  float64
 20  CoupleAndOneDependent                      float64
 21  CoupleAndTwoDependents                     float64
 22  CoupleAndThreeOrMoreDependents             float64
 23  RowNumber                                  int64
dtypes: float64(9), int64(5), object(10)
memory usage: 2.3+ GB