In [1]:
import json
# Open a JSON file
file = open('data.json')
# returns object as a dictionary
d = json.load(file)

In [2]:
d

{'_id': {'$oid': '60a7ca3f8d48051be7447064'},
 'last_updated': 1588192647,
 'ttl': 180,
 'data': {'bikes': [{'bike_id': 'bike_12749',
    'name': 'T723',
    'lon': -111.94272,
    'lat': 33.4315,
    'is_reserved': 0,
    'is_disabled': 0},
   {'bike_id': 'bike_12881',
    'name': 'T782',
    'lon': -112.201445,
    'lat': 33.52102,
    'is_reserved': 0,
    'is_disabled': 0}]}}

In [3]:
# json data is nothing but a dictionary content saved in a file with .json
# check keys of a json
d.keys()

dict_keys(['_id', 'last_updated', 'ttl', 'data'])

In [4]:
# first by looking the content of json data you have to figure out which key
# and value to use so as to get the desired content

# Requirement: bike_id and name

# Hence, first access data -> then bikes - > then access bike_id and name

# it is returning list of dictionaries
bike_details = d['data']['bikes']
bike_details

[{'bike_id': 'bike_12749',
  'name': 'T723',
  'lon': -111.94272,
  'lat': 33.4315,
  'is_reserved': 0,
  'is_disabled': 0},
 {'bike_id': 'bike_12881',
  'name': 'T782',
  'lon': -112.201445,
  'lat': 33.52102,
  'is_reserved': 0,
  'is_disabled': 0}]

In [5]:
bike_id_name =[] # Store bike_id and name
# access the list of dictionary bike_details
for  i in bike_details:
    bike_id_name.append((i['bike_id'],i['name']))

In [6]:
bike_id_name

[('bike_12749', 'T723'), ('bike_12881', 'T782')]

# implement same thing using function so as to return bike_id and name

In [7]:
# this function receive json data as a argument
def BikeIdName(jdata):
    bike_details = jdata['data']['bikes']
    bike_id_name =[] # Store bike_id and name
    for  i in bike_details:
        # append bike_id and name in list bike_id_name
        bike_id_name.append((i['bike_id'],i['name']))
    return bike_id_name # return bike_id_name list

In [8]:
BikeIdName(d)

[('bike_12749', 'T723'), ('bike_12881', 'T782')]

In [11]:
d

{'_id': {'$oid': '60a7ca3f8d48051be7447064'},
 'last_updated': 1588192647,
 'ttl': 180,
 'data': {'bikes': [{'bike_id': 'bike_12749',
    'name': 'T723',
    'lon': -111.94272,
    'lat': 33.4315,
    'is_reserved': 0,
    'is_disabled': 0},
   {'bike_id': 'bike_12881',
    'name': 'T782',
    'lon': -112.201445,
    'lat': 33.52102,
    'is_reserved': 0,
    'is_disabled': 0}]}}

In [14]:
d['data']['bikes'][0]['bike_id']

'bike_12749'

In [15]:
d['data']['bikes'][0]['name']

'T723'

In [51]:
import pandas as pd

In [69]:
df = pd.read_csv('ViewingActivity-sample.csv')

In [53]:
# check columns for NaN values
df.isna().any()

Profile Name               False
Start Time                 False
Duration                   False
Attributes                  True
Title                      False
Supplemental Video Type     True
Device Type                False
Bookmark                   False
Latest Bookmark            False
Country                    False
dtype: bool

- Found that 'Attributes' and 'Supplemental Video Type' contains NaN values i.e. missing data

In [31]:
df['Attributes'].isnull().sum() # it contains only NaN

200

In [32]:
df['Supplemental Video Type'].isnull().sum() # it contains only NaN

200

In [44]:
#drop this column
df = df.drop(['Attributes', 'Supplemental Video Type'], axis=1)

In [46]:
# check columns for NaN values
df.isna().any()
# Now no column contains NaN values

Profile Name       False
Start Time         False
Duration           False
Title              False
Device Type        False
Bookmark           False
Latest Bookmark    False
Country            False
dtype: bool

In [48]:
df.head()

,Profile Name,Start Time,Duration,Title,Device Type,Bookmark,Latest Bookmark,Country
0,Charlie,2013-03-20 5:17:53,0:00:05,Star Trek: Deep Space Nine: Season 5: Empok No...,Mac,0:00:05,Not latest view,US (United States)
1,Charlie,2013-03-20 4:27:45,0:44:31,Star Trek: Deep Space Nine: Season 5: Blaze of...,Mac,0:44:31,Not latest view,US (United States)
2,Charlie,2013-03-20 4:05:21,0:22:06,Star Trek: Deep Space Nine: Season 5: Children...,Mac,0:44:37,0:44:37,US (United States)
3,Charlie,2013-03-20 0:20:03,0:48:14,The Invisible War,Microsoft Xbox 360,0:53:18,0:53:18,US (United States)
4,Charlie,2013-03-20 0:10:31,0:04:51,The Invisible War,Mac,0:05:01,Not latest view,US (United States)

In [49]:
df

,Profile Name,Start Time,Duration,Title,Device Type,Bookmark,Latest Bookmark,Country
0,Charlie,2013-03-20 5:17:53,0:00:05,Star Trek: Deep Space Nine: Season 5: Empok No...,Mac,0:00:05,Not latest view,US (United States)
1,Charlie,2013-03-20 4:27:45,0:44:31,Star Trek: Deep Space Nine: Season 5: Blaze of...,Mac,0:44:31,Not latest view,US (United States)
2,Charlie,2013-03-20 4:05:21,0:22:06,Star Trek: Deep Space Nine: Season 5: Children...,Mac,0:44:37,0:44:37,US (United States)
3,Charlie,2013-03-20 0:20:03,0:48:14,The Invisible War,Microsoft Xbox 360,0:53:18,0:53:18,US (United States)
4,Charlie,2013-03-20 0:10:31,0:04:51,The Invisible War,Mac,0:05:01,Not latest view,US (United States)
...,...,...,...,...,...,...,...,...
195,Charlie,2013-03-02 0:45:12,0:05:18,Star Trek: Deep Space Nine: Season 4: Body Par...,Mac,0:27:16,Not latest view,US (United States)
196,Charlie,2013-03-01 23:46:16,0:58:12,Louis C.K.: Live at the Beacon Theater,Mac,1:01:37,Not latest view,US (United States)
197,Charlie,2013-03-01 23:21:19,0:21:59,Star Trek: Deep Space Nine: Season 4: Body Par...,Mac,0:22:01,Not latest view,US (United States)
198,Charlie,2013-03-01 22:36:48,0:44:26,Star Trek: Deep Space Nine: Season 4: The Quic...,Mac,0:44:28,0:44:28,US (United States)
199,Charlie,2013-03-01 20:47:09,0:43:48,Star Trek: Deep Space Nine: Season 4: To the D...,Mac,0:43:48,0:43:48,US (United States)

In [27]:
df.drop(['Attributes', 'Supplemental Video Type'], axis=1)

,Profile Name,Start Time,Duration,Attributes,Title,Supplemental Video Type,Device Type,Bookmark,Latest Bookmark,Country
0,Charlie,2013-03-20 5:17:53,0:00:05,NaN,Star Trek: Deep Space Nine: Season 5: Empok No...,NaN,Mac,0:00:05,Not latest view,US (United States)
1,Charlie,2013-03-20 4:27:45,0:44:31,NaN,Star Trek: Deep Space Nine: Season 5: Blaze of...,NaN,Mac,0:44:31,Not latest view,US (United States)
2,Charlie,2013-03-20 4:05:21,0:22:06,NaN,Star Trek: Deep Space Nine: Season 5: Children...,NaN,Mac,0:44:37,0:44:37,US (United States)
3,Charlie,2013-03-20 0:20:03,0:48:14,NaN,The Invisible War,NaN,Microsoft Xbox 360,0:53:18,0:53:18,US (United States)
4,Charlie,2013-03-20 0:10:31,0:04:51,NaN,The Invisible War,NaN,Mac,0:05:01,Not latest view,US (United States)
...,...,...,...,...,...,...,...,...,...,...
195,Charlie,2013-03-02 0:45:12,0:05:18,NaN,Star Trek: Deep Space Nine: Season 4: Body Par...,NaN,Mac,0:27:16,Not latest view,US (United States)
196,Charlie,2013-03-01 23:46:16,0:58:12,NaN,Louis C.K.: Live at the Beacon Theater,NaN,Mac,1:01:37,Not latest view,US (United States)
197,Charlie,2013-03-01 23:21:19,0:21:59,NaN,Star Trek: Deep Space Nine: Season 4: Body Par...,NaN,Mac,0:22:01,Not latest view,US (United States)
198,Charlie,2013-03-01 22:36:48,0:44:26,NaN,Star Trek: Deep Space Nine: Season 4: The Quic...,NaN,Mac,0:44:28,0:44:28,US (United States)
199,Charlie,2013-03-01 20:47:09,0:43:48,NaN,Star Trek: Deep Space Nine: Season 4: To the D...,NaN,Mac,0:43:48,0:43:48,US (United States)

In [70]:
df = df.dropna(how='all',axis=1) # delete whole column if all value of a column is Missing/NaN
df = df.dropna(how='any',axis=0) # delete rows if it contains missing/NaN values

In [71]:
df

,Profile Name,Start Time,Duration,Title,Device Type,Bookmark,Latest Bookmark,Country
0,Charlie,2013-03-20 5:17:53,0:00:05,Star Trek: Deep Space Nine: Season 5: Empok No...,Mac,0:00:05,Not latest view,US (United States)
1,Charlie,2013-03-20 4:27:45,0:44:31,Star Trek: Deep Space Nine: Season 5: Blaze of...,Mac,0:44:31,Not latest view,US (United States)
2,Charlie,2013-03-20 4:05:21,0:22:06,Star Trek: Deep Space Nine: Season 5: Children...,Mac,0:44:37,0:44:37,US (United States)
3,Charlie,2013-03-20 0:20:03,0:48:14,The Invisible War,Microsoft Xbox 360,0:53:18,0:53:18,US (United States)
4,Charlie,2013-03-20 0:10:31,0:04:51,The Invisible War,Mac,0:05:01,Not latest view,US (United States)
...,...,...,...,...,...,...,...,...
195,Charlie,2013-03-02 0:45:12,0:05:18,Star Trek: Deep Space Nine: Season 4: Body Par...,Mac,0:27:16,Not latest view,US (United States)
196,Charlie,2013-03-01 23:46:16,0:58:12,Louis C.K.: Live at the Beacon Theater,Mac,1:01:37,Not latest view,US (United States)
197,Charlie,2013-03-01 23:21:19,0:21:59,Star Trek: Deep Space Nine: Season 4: Body Par...,Mac,0:22:01,Not latest view,US (United States)
198,Charlie,2013-03-01 22:36:48,0:44:26,Star Trek: Deep Space Nine: Season 4: The Quic...,Mac,0:44:28,0:44:28,US (United States)
199,Charlie,2013-03-01 20:47:09,0:43:48,Star Trek: Deep Space Nine: Season 4: To the D...,Mac,0:43:48,0:43:48,US (United States)

In [78]:
#using files and making a list of them.

readBooks = open ("booklist.txt", "r") 

bookList =[] 

for book in readBooks:
    tempList = book.strip ().split (",") 

    bookList.append ((tempList[0], tempList[1])) 

 #ratings given for each book that they read.

    readRatings = open ("ratings.txt", "r") 

    count = 1 

name = "name" 

ratingsList =[] 

for line in readRatings:

    if count %2 != 0:

        name = line.strip ().lower () 

else:

    numList = line.split () 

numberList =[] 

for l in numList:

    l = int (l) 

numberList.append(l) 

newDic = {"name": name, "ratings":numberList} 

ratingsList.append (newDic) 

count += 1 

 



#Looping over ratings to assign them their top two closest to the individual.

for name in ratingsList:

    friendList =[] 

for other in ratingsList:

    value = 0 

count = 0 

if other ["name"] != name["name"]:

    for number in name["ratings"]:

        value += number * other["ratings"][count] 

count += 1 

friendList.append ({"friend": other["name"], "score": value}) 

large = 0 

largeName = "name" 

largest = 0 

largestName = "name" 

for friend in friendList:

    if friend["score"] > largest: 

        largest = friend["score"] 

largestName = friend["friend"]

if friend["score"] > large:

    large = friend["score"] 

largeName = friend["friend"] 

name["friends"] =[largestName, largeName] 

 

#Function that returns the top two friends given a name as a parameter.

def friends (name):

    for x in ratingsList:

        if name == x["name"]:
            return sorted (x["friends"]) 

def dotprod (x, y):

    pass 

 

#Assigning new keys to each user's dictionary for their unread books and their favorite books which that scored between 3 or 5 on a rating list.

for user in ratingsList:

    goodBooks =[] 

unreadBooks =[] 

count = 0 

for num in user["ratings"]:

    if num >=3:

        goodBooks.append (bookList[count]) 

if num == 0:

    unreadBooks.append (bookList[count]) 

count += 1 

user["goodbooks"] = goodBooks 

user["unreadbooks"] = unreadBooks 

 

#based off what the hasent already been read and assorts by accoation with the people in the inner workings of co partnership.

#sorted by Author last name .

def recommend (name):

    tempList =[] 

    theirRecommended =[] 

    for user in ratingsList:

        if user["name"] == name:

            for x in ratingsList:

                if x["name"] == user["friends"][0]:

                    tempList.extend (x["goodbooks"]) 

    for y in ratingsList:

        if y["name"] == user["friends"][1]:

            tempList.extend (y["goodbooks"]) 

    if user ["name"] == name:

        for book in tempList:

            if book in user["unreadbooks"]: 

                theirRecommended.append (book) 

    sortedList =[] 

    theirRecommended = list (dict.fromkeys (theirRecommended)) 

    sortedList.extend (sorted (theirRecommended, key = lambda x:x[0].split (" ")[-1]))

    return sortedList    

#Sorts the readers first name.

def report ():

    myString = "" 

    for person in sorted (ratingsList, key = lambda i: i['name']):

      myString += (person['name'] + " : " + str (sorted (person["friends"]))) 

    myString += "\n" 

    for y in recommend (person['name']):

        myString += "\t" + str (y) + "\n" 

    myString += "\n" 

    return myString

 

#The function is called to save file.

def main ():

    with open ('recommendations.txt', 'w') as rec_file:

#For some reason I couldn't get this line to both print and write it would only write, so I added another print.

        print(report(), file=rec_file)
    print (report ())

if __name__ == '__main__':

    main ()

5 5 0 0 0 0 0 0 0 3 0 5 0 0 1 0 5 0 1 5 0 0 0 0 0 1 0 5 0 0 3 5 5 0 0 5 0 0 3 0 0 3 5 5 0 0 0 0 0 5 5 0 5 0 0 : ['5 5 0 0 0 0 0 0 0 3 0 5 0 0 1 0 5 0 1 5 0 0 0 0 0 1 0 5 0 0 3 5 5 0 0 5 0 0 3 0 0 3 5 5 0 0 0 0 0 5 5 0 5 0 0', '5 5 0 0 0 0 0 0 0 3 0 5 0 0 1 0 5 0 1 5 0 0 0 0 0 1 0 5 0 0 3 5 5 0 0 5 0 0 3 0 0 3 5 5 0 0 0 0 0 5 5 0 5 0 0']