In [1]:
import pandas as pd # import library

In [2]:
# source: https://www.kaggle.com/anveshparashar/airqualityuci
df = pd.read_csv('AirQualityUCI.csv')

In [3]:
df.head() # display few rows

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,10-03-2004,18:00:00,2.6,1360,150,11.9,1046,166,1056,113,1692,1268,13.6,48.9,0.7578
1,10-03-2004,19:00:00,2.0,1292,112,9.4,955,103,1174,92,1559,972,13.3,47.7,0.7255
2,10-03-2004,20:00:00,2.2,1402,88,9.0,939,131,1140,114,1555,1074,11.9,54.0,0.7502
3,10-03-2004,21:00:00,2.2,1376,80,9.2,948,172,1092,122,1584,1203,11.0,60.0,0.7867
4,10-03-2004,22:00:00,1.6,1272,51,6.5,836,131,1205,116,1490,1110,11.2,59.6,0.7888

In [4]:
# creating a lag by 3
# you can change this value according to your need
# Create two column T_lag and RH_lag

df['T_lag'] = df['T'].shift(-3)
df['RH_lag'] = df['RH'].shift(-3)

In [5]:
df.head() # display few rows

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,T_lag,RH_lag
0,10-03-2004,18:00:00,2.6,1360,150,11.9,1046,166,1056,113,1692,1268,13.6,48.9,0.7578,11.0,60.0
1,10-03-2004,19:00:00,2.0,1292,112,9.4,955,103,1174,92,1559,972,13.3,47.7,0.7255,11.2,59.6
2,10-03-2004,20:00:00,2.2,1402,88,9.0,939,131,1140,114,1555,1074,11.9,54.0,0.7502,11.2,59.2
3,10-03-2004,21:00:00,2.2,1376,80,9.2,948,172,1092,122,1584,1203,11.0,60.0,0.7867,11.3,56.8
4,10-03-2004,22:00:00,1.6,1272,51,6.5,836,131,1205,116,1490,1110,11.2,59.6,0.7888,10.7,60.0

In [6]:
# Create two new column T_lag_rolling and RH_lag_rolling containing
# 10 hour rolling average of T_lag and RH_lag column respectively.

# 10 hour rolling average means rolling average of previous 10 records

df['T_lag_rolling'] = df['T_lag'].rolling(10).mean() # 10 hour rolling average for T_lag column
df['RH_lag_rolling'] = df['RH_lag'].rolling(10).mean()  # 10 hour rolling average RH_lag column

df['T_lag_rolling'] = round(df['T_lag_rolling'] ,2) # round to 2 decimal places
df['RH_lag_rolling'] = round(df['RH_lag_rolling'],2) # round to 2 decimal places

In [7]:
df.head(20) # display top 20 rows

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,T_lag,RH_lag,T_lag_rolling,RH_lag_rolling
0,10-03-2004,18:00:00,2.6,1360,150,11.9,1046,166,1056,113,1692,1268,13.6,48.9,0.7578,11.0,60.0,NaN,NaN
1,10-03-2004,19:00:00,2.0,1292,112,9.4,955,103,1174,92,1559,972,13.3,47.7,0.7255,11.2,59.6,NaN,NaN
2,10-03-2004,20:00:00,2.2,1402,88,9.0,939,131,1140,114,1555,1074,11.9,54.0,0.7502,11.2,59.2,NaN,NaN
3,10-03-2004,21:00:00,2.2,1376,80,9.2,948,172,1092,122,1584,1203,11.0,60.0,0.7867,11.3,56.8,NaN,NaN
4,10-03-2004,22:00:00,1.6,1272,51,6.5,836,131,1205,116,1490,1110,11.2,59.6,0.7888,10.7,60.0,NaN,NaN
5,10-03-2004,23:00:00,1.2,1197,38,4.7,750,89,1337,96,1393,949,11.2,59.2,0.7848,10.7,59.7,NaN,NaN
6,11-03-2004,00:00:00,1.2,1185,31,3.6,690,62,1462,77,1333,733,11.3,56.8,0.7603,10.3,60.2,NaN,NaN
7,11-03-2004,01:00:00,1.0,1136,31,3.3,672,62,1453,76,1333,730,10.7,60.0,0.7702,10.1,60.5,NaN,NaN
8,11-03-2004,02:00:00,0.9,1094,24,2.3,609,45,1579,60,1276,620,10.7,59.7,0.7648,11.0,56.2,NaN,NaN
9,11-03-2004,03:00:00,0.6,1010,19,1.7,561,-200,1705,-200,1235,501,10.3,60.2,0.7517,10.5,58.1,10.80,59.03
10,11-03-2004,04:00:00,-200.0,1011,14,1.3,527,21,1818,34,1197,445,10.1,60.5,0.7465,10.2,59.6,10.72,58.99
11,11-03-2004,05:00:00,0.7,1066,8,1.1,512,16,1918,28,1182,422,11.0,56.2,0.7366,10.8,57.4,10.68,58.77
12,11-03-2004,06:00:00,0.7,1052,16,1.6,553,34,1738,48,1221,472,10.5,58.1,0.7353,10.5,60.6,10.61,58.91
13,11-03-2004,07:00:00,1.1,1144,29,3.2,667,98,1490,82,1339,730,10.2,59.6,0.7417,10.8,58.4,10.56,59.07
14,11-03-2004,08:00:00,2.0,1333,64,8.0,900,174,1136,112,1517,1102,10.8,57.4,0.7408,10.5,57.9,10.54,58.86
15,11-03-2004,09:00:00,2.2,1351,87,9.5,960,129,1079,101,1583,1028,10.5,60.6,0.7691,9.5,66.8,10.42,59.57
16,11-03-2004,10:00:00,1.7,1233,77,6.3,827,112,1218,98,1446,860,10.8,58.4,0.7552,8.3,76.4,10.22,61.19
17,11-03-2004,11:00:00,1.5,1179,43,5.0,762,95,1328,92,1362,671,10.5,57.9,0.7352,8.0,81.1,10.01,63.25
18,11-03-2004,12:00:00,1.6,1236,61,5.2,774,104,1301,95,1401,664,9.5,66.8,0.7951,8.3,79.8,9.74,65.61
19,11-03-2004,13:00:00,1.9,1286,63,7.3,869,146,1162,112,1537,799,8.3,76.4,0.8393,9.7,71.2,9.66,66.92

In [8]:
df = df.dropna() # drop the rows with NaN value

In [9]:
df.head(10) # display the top 10 rows

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,T_lag,RH_lag,T_lag_rolling,RH_lag_rolling
9,11-03-2004,03:00:00,0.6,1010,19,1.7,561,-200,1705,-200,1235,501,10.3,60.2,0.7517,10.5,58.1,10.80,59.03
10,11-03-2004,04:00:00,-200.0,1011,14,1.3,527,21,1818,34,1197,445,10.1,60.5,0.7465,10.2,59.6,10.72,58.99
11,11-03-2004,05:00:00,0.7,1066,8,1.1,512,16,1918,28,1182,422,11.0,56.2,0.7366,10.8,57.4,10.68,58.77
12,11-03-2004,06:00:00,0.7,1052,16,1.6,553,34,1738,48,1221,472,10.5,58.1,0.7353,10.5,60.6,10.61,58.91
13,11-03-2004,07:00:00,1.1,1144,29,3.2,667,98,1490,82,1339,730,10.2,59.6,0.7417,10.8,58.4,10.56,59.07
14,11-03-2004,08:00:00,2.0,1333,64,8.0,900,174,1136,112,1517,1102,10.8,57.4,0.7408,10.5,57.9,10.54,58.86
15,11-03-2004,09:00:00,2.2,1351,87,9.5,960,129,1079,101,1583,1028,10.5,60.6,0.7691,9.5,66.8,10.42,59.57
16,11-03-2004,10:00:00,1.7,1233,77,6.3,827,112,1218,98,1446,860,10.8,58.4,0.7552,8.3,76.4,10.22,61.19
17,11-03-2004,11:00:00,1.5,1179,43,5.0,762,95,1328,92,1362,671,10.5,57.9,0.7352,8.0,81.1,10.01,63.25
18,11-03-2004,12:00:00,1.6,1236,61,5.2,774,104,1301,95,1401,664,9.5,66.8,0.7951,8.3,79.8,9.74,65.61

In [10]:
df = df.reset_index(drop=True) # reset the index
df.head() # display few rows

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,T_lag,RH_lag,T_lag_rolling,RH_lag_rolling
0,11-03-2004,03:00:00,0.6,1010,19,1.7,561,-200,1705,-200,1235,501,10.3,60.2,0.7517,10.5,58.1,10.80,59.03
1,11-03-2004,04:00:00,-200.0,1011,14,1.3,527,21,1818,34,1197,445,10.1,60.5,0.7465,10.2,59.6,10.72,58.99
2,11-03-2004,05:00:00,0.7,1066,8,1.1,512,16,1918,28,1182,422,11.0,56.2,0.7366,10.8,57.4,10.68,58.77
3,11-03-2004,06:00:00,0.7,1052,16,1.6,553,34,1738,48,1221,472,10.5,58.1,0.7353,10.5,60.6,10.61,58.91
4,11-03-2004,07:00:00,1.1,1144,29,3.2,667,98,1490,82,1339,730,10.2,59.6,0.7417,10.8,58.4,10.56,59.07

In [11]:
# exporting to csv file.
# this file will be saved in current working directory,i.e. where you have saved your python program
df.to_csv('Output.csv')