In [1]:
# import the library
import pandas as pd

In [2]:
# load the dataset
y_79_y20_frame = pd.read_csv("data_79_20.csv")

In [3]:
# preprocessing steps
if 'Unnamed: 0' in y_79_y20_frame:
    
    # set year as index
    y_79_y20_frame.set_index('Unnamed: 0', inplace=True)
    
    # remove index name
    y_79_y20_frame.index.name=''

In [4]:
# display few rows
y_79_y20_frame.head()

,101,102,103,104,105,106,107,108,109,110,...,1222,1223,1224,1225,1226,1227,1228,1229,1230,1231
,,,,,,,,,,,,,,,,,,,,,
1979,14.7910,14.9970,14.9595,14.9220,14.9255,14.9290,14.9485,14.968,15.0790,15.1900,...,13.6190,13.6960,13.7730,13.8535,13.9340,14.0175,14.1010,14.0965,14.092,14.1460
1980,14.2000,14.2510,14.3020,14.3580,14.4140,14.4660,14.5180,14.556,14.5940,14.6295,...,13.7790,13.7885,13.7980,13.8990,14.0000,14.0860,14.1720,14.1325,14.093,14.1745
1981,14.2560,14.3560,14.4560,14.4455,14.4350,14.5620,14.6890,14.654,14.6190,14.6545,...,13.8850,13.8770,13.9465,14.0160,13.9845,13.9530,14.0405,14.1280,14.176,14.2240
1982,14.3515,14.4790,14.5605,14.6420,14.7610,14.8800,14.9365,14.993,15.0225,15.0520,...,13.9630,14.0280,14.0930,14.1380,14.1830,14.1635,14.1440,14.1515,14.159,14.2060
1983,14.2530,14.2795,14.3060,14.4000,14.4940,14.4805,14.4670,14.541,14.6150,14.6315,...,13.4325,13.5390,13.5395,13.5400,13.6020,13.6640,13.7595,13.8550,13.881,13.9070

In [5]:
# define extract_fig_1_frame
def extract_fig_1_frame(DataFrame):
    
    # get the mean
    mean = DataFrame.mean()
    
    # get the std
    std = DataFrame.std(ddof=1)
    
    # create a new dataframe
    df = pd.DataFrame([mean,2*std],index=['mean','two_s'])
    
    # return df
    return df

In [6]:
# call the function.
extract_fig_1_frame(y_79_y20_frame)

,101,102,103,104,105,106,107,108,109,110,...,1222,1223,1224,1225,1226,1227,1228,1229,1230,1231
mean,13.616964,13.681012,13.721643,13.766476,13.809821,13.852226,13.906827,13.941060,13.988679,14.021679,...,13.044982,13.097762,13.158994,13.204869,13.243661,13.278060,13.327119,13.376881,13.420744,13.460548
two_s,1.126688,1.174281,1.191733,1.161383,1.151928,1.174807,1.183990,1.220343,1.217215,1.221634,...,1.164299,1.200573,1.167840,1.161504,1.160643,1.120197,1.112614,1.101258,1.099366,1.115748