In [7]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

###Speech Files###
sessions = np.arange(25, 76)
data=[]


for session in sessions:
#     directory = "./TXT/Session "+str(session)+" - "+str(1945+session)
    directory = r"E:\New folder\TXT\Session "+str(session)+" - "+str(1945+session)
    for filename in os.listdir(directory):
        f = open(os.path.join(directory, filename), encoding='utf8')
        if filename[0]==".": #ignore hidden files
            continue
        splt = filename.split("_")
        data.append([session, 1945+session, splt[0], f.read()])
        
df_speech = pd.DataFrame(data, columns=['Session','Year','ISO-alpha3 Code','Speech'])


df_speech.tail(10)

,Session,Year,ISO-alpha3 Code,Speech
8471,75,2020,VAT,"Mr. President,\nPeace be with all of you!\nI o..."
8472,75,2020,VCT,"Mr. President, Excellencies, Distinguished Del..."
8473,75,2020,VEN,"H.E. Mr. Volkan Bozkir, President of the Gener..."
8474,75,2020,VNM,"Your Excellency Volkan Bozkir, President of th..."
8475,75,2020,VUT,"Mr. President;\nExcellencies, Heads of State a..."
8476,75,2020,WSM,"Mr. President,\nDistinguished delegates,\nLadi..."
8477,75,2020,YEM,In the name of God the Merciful and the Compas...
8478,75,2020,ZAF,"President of the General Assembly, Secretary-G..."
8479,75,2020,ZMB,"Your excellency Mr. Volkan Bozkir, President o..."
8480,75,2020,ZWE,"Your Excellency, Ambassador Volkan Bozkir, Pre..."

In [8]:
###Methodology file### 
df_codes = pd.read_csv("UNSD — Methodology.csv", header = None, sep = '\n')
df_codes = df_codes[0].str.split(',', expand =True)
df_codes.tail()


new_header = df_codes.iloc[0]
df_codes = df_codes[1:]
df_codes.columns = new_header
df_codes.tail()



####(3) Word Count by Country between 2005-2020####
from nltk.corpus import stopwords
from nltk import word_tokenize
from nltk import FreqDist


def preprocess(words):
    words = [word.lower() for word in words]
    words = [word for word in words if word.isalpha()]
    sw = stopwords.words("english")
    no_sw = []
    for w in words:
        if (w not in sw):
            no_sw.append(w)
    return no_sw


ISO_alpha3_Code = list(df_speech['ISO-alpha3 Code'].unique())


Total_Word_Count = []
for each in ISO_alpha3_Code:
    t = df_speech.loc[(df_speech['Year'] > 2005) & (df_speech['Year'] < 2020) & (df_speech['ISO-alpha3 Code'] == each)]['Speech']
    if(t.empty):
         Total_Word_Count.append(0)
    else:
        text=t.values[0]
        words = word_tokenize(text)
        words = preprocess(words)
        freq = FreqDist(words)


        words1 = words.count("freedom")
        words2 = words.count("GDP")
        words3 = words.count("support")
        words4 = words.count("health")
        words5 = words.count("generosity")
        total = words1+words2+words3+words4+words5
        Total_Word_Count.append(total)


new=pd.DataFrame(zip(ISO_alpha3_Code,Total_Word_Count),columns=['ISO-alpha3 Code',"Total Word Count"])
df_codes=pd.merge(df_codes, new, on='ISO-alpha3 Code',how='left')
df_codes.tail()

,Global Code,Global Name,Region Code,Region Name,Sub-region Code,Sub-region Name,Intermediate Region Code,Intermediate Region Name,Country or Area,M49 Code,ISO-alpha2 Code,ISO-alpha3 Code,Least Developed Countries (LDC),Land Locked Developing Countries (LLDC),Small Island Developing States (SIDS),Developed / Developing Countries,NaN,Total Word Count
244,001,World,009,Oceania,061,Polynesia,,,Samoa,882,WS,WSM,,,x,Developing,None,5.0
245,001,World,009,Oceania,061,Polynesia,,,Tokelau,772,TK,TKL,,,,Developing,None,NaN
246,001,World,009,Oceania,061,Polynesia,,,Tonga,776,TO,TON,,,x,Developing,None,7.0
247,001,World,009,Oceania,061,Polynesia,,,Tuvalu,798,TV,TUV,x,,x,Developing,None,6.0
248,001,World,009,Oceania,061,Polynesia,,,Wallis and Futuna Islands,876,WF,WLF,,,,Developing,None,NaN

In [12]:
df_codes[['Total Word Count']].dropna()

     Total Word Count
0                 2.0
1                 0.0
2                 0.0
3                 5.0
4                12.0
..                ...
235               3.0
237               6.0
244               5.0
246               7.0
247               6.0

[195 rows x 1 columns]

In [19]:
df_codes[['Developed / Developing Countries']].value_counts()

Developed / Developing Countries
Developing                          179
Developed                            66
                                      3
x                                     1
dtype: int64